<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="logo"></div>
  <div id="u_menu"></div>
  <div id="workspace">

  </div>
  </body>
</html>
