<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon"  href="/images/favicon.png">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/handle.js"></script>
    <script>
      $(function() {
        $(".draggable").draggable({
          contaiment: 'parent',
          cursor: 'move',
          snap: '#workspace'
        });
      });
    </script>
  </head>


  <body>
  <div id="logo"></div>
  <div id="u_menu" class="work_style"></div>
  <div id="wrapper">
    <div id="workspace" class="work_style">
      <div id="window" class="draggable work_style">
        <p></p>
      </div>
    </div>
    <div id="io-status-box" class="work_style">
      <div class="box-header">
        <label class="box-header-label">IO Status</label>
        <hr class="box-header-hr">
      </div>
      <div>
        <%for(var i=1; i<=20; i++){ %>
        <div class="box-inner">
          <div class="box-inner-block">
            <div class="box-inner-text">
              <label class="box-inner-label">I/O-<%=i%>: </label>
            </div>
            <div class="box-inner-switches">
              <div class="switch">
                <input id="cmn-toggle-<%=i%>" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-<%=i%>"></label>
              </div>
              <div class="led"></div>
            </div>
          </div>
        </div>
        <%}%>

      </div>
    </div>
  </div>

  </body>
</html>
