<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(function() {
        $(".draggable").draggable({
          contaiment: 'parent',
          cursor: 'move',
          snap: '#workspace'
        });
      });
    </script>
  </head>
  <body>
  <div id="logo"></div>
  <div id="u_menu" class="work_style"></div>
  <div id="workspace" class="work_style">
    <div id="window" class="draggable work_style">
      <p></p>
    </div>
  </div>
  <div id="io-status-box" class="work_style">
    <div class="box-header">
      <label class="box-header-label">IO Status</label>
      <hr class="box-header-hr">
    </div>
    <div>
      <div class="box-inner">
        <div class="box-inner-text">
          <label class="box-inner-label">I/O-1: </label>
        </div>
        <div class="box-inner-switches">
          <div class="switch">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-1"></label>
          </div>
          <div class="switch">
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-2"></label>
          </div>
          <div class="switch">
            <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-3"></label>
          </div>
          <div class="switch">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-4"></label>
          </div>
          <div class="switch">
            <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-5"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
