<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />

    <link rel="icon" type="image/x-icon"  href="/images/favicon.png">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/1-11-4-jquery-ui.js"></script>
    <script src="/js/jq-ui.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/js/chart.min.js"></script>-->
    <script src="http://www.chartjs.org/assets/Chart.min.js"></script>
    <script src="/js/c_tst.js"></script>
    <script src="/js/jsmpg.js"></script>
    <script src="/js/socket_handle.js"></script>
    <script src="/js/logs_page_scripts.js"></script>
    <script src="/js/home_page_scripts.js"></script>
    <script src="/js/light_home_log.js"></script>


    <script type="text/javascript" src="/js/handle.js"></script>
    <script src="/js/mousewheel.js"></script>
    <script src="/js/scroll.js"></script>

    <link rel='stylesheet' href='/stylesheets/scroll.css' />
  </head>


  <body>

  <div id="logo"></div>
  <div id="u_menu" class="work_style">
    <input type="button" class="u_button" id="button_home" ws="1" title="Главная">
    <input type="button" class="u_button" id="button_table" ws="2" title="Бизнес-статистика">
    <input type="button" class="u_button" id="button_camera" ws="3" title="Камеры наблюдения">
    <input type="button" class="u_button" id="button_weight" ws="4" title="Карта линии">
    <input type="button" class="u_button" id="button_sensor" ws="5" title="Датчики">
    <input type="button" class="u_button" id="button_logs" ws="6" title="Логи">

    <div id="log_info_wrapper">
      <div id="users_count">
        <div id="users_count_inner_text"></div>
      </div>
      <div id="last_logs">
        <div id="last_logs_inner_text"></div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="workspace_6" class="work_style">
      <div id="logs"></div>
    </div>
    <div id="workspace_2" class="work_style">
      <div id="charts">
        <label for="from">С:</label>
        <input type="text" id="from" name="from">
        <label for="to">по:</label>
        <input type="text" id="to" name="to">
        <input type="button"  id="refresh_chart" value="обновить график">
        <section>
          <article>
            <canvas id="myChart">
            </canvas>
          </article>
        </section>
      </div>
    </div>
    <div id="workspace_3" class="work_style">
      <div id="videos">
        <section>
          <article>
            <canvas id="videoCanvas" width="320" height="240">
            </canvas>
          </article>
        </section>
      </div>
    </div>
    <div id="workspace_4" class="work_style">
      <div id="linemap">а здесь карта линий</div>
    </div>
    <div id="workspace_5" class="work_style">
      <div id="sensors"></div>
    </div>
    <div id="workspace_1" class="work_style">
      <div id="scales">
        <div class="sc_tab">
          <div class="sc_tab_name">
            Scales 2.5
            <div class="sc_led">
              <div class="sc_led_light" id="scale_25_led"></div>
            </div>
          </div>
          <div id="scale_1_kgh">Кг/ч: </div>
          <div id="scale_1_kgd">Кг/д: </div>
        </div>

        <div class="sc_tab">
          <div class="sc_tab_name">
            Scales 3.5
            <div class="sc_led">
              <div class="sc_led_light" id="scale_35_led"></div>
            </div>
          </div>
          <div id="scale_2_kgh">Кг/ч: </div>
          <div id="scale_2_kgd">Кг/д: </div>
        </div>
      </div>
    </div>
    <div id="io-status-box" class="work_style">
      <div class="box-header">
        <label class="box-header-label">IO Status</label>
        <hr class="box-header-hr">
      </div>
      <div>
        <% for(var i = 0; i < 20; i++){ %>
        <div class="box-inner">
          <div class="box-inner-block">
            <div class="box-inner-text">
              <label class="box-inner-label">I/O-<%= i %>: </label>
            </div>
            <div class="box-inner-switches">
              <div class="switch">
                <input id="cmn-toggle-<%= i %>" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-<%= i %>"></label>
              </div>
              <div class="led">
                <div class="led_light"></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  </body>
</html>
