body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo {
    background: url('/images/header-logo_red.png') no-repeat;
    width: 92px;
    height: 85px;
}

#u_menu {
    margin-top: 10px;
    height: 100px;
    width: 1212px;
    clear: both;
}

#workspace {
    height: 600px;
    width: 900px;
    margin-top: 10px;
    float: left;
}

#io-status-box {
    height: 600px;
    width: 300px;
    margin: 10px;
    float: left;
}

#window {
    margin: 10px;
    width: 30px;
    height: 30px;
    background: white;
}



.work_style {
    background: #f3f3f3;
    border: thin solid #dfe4e6;
}

.box-header {
    margin-top: 10px;
    margin-left: 20px;
}
.box-header-label {
    font-family: Consolas, sans-serif;
}

.box-inner-label {
    font-family: Consolas, sans-serif;
    font-size: 8pt;
}

.box-header-hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 160px;
    float: right;
    margin-right: 25px;
    margin-top: 9px;
}

.box-inner {
    margin-top: 10px;
    margin-left: 25px;
}

.box-inner-text {
    float: left;
}

.box-inner-switches {
    float: right;
    margin-right: 50px;
}

a {
  color: #00B7FF;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 15px;
    background-color: #dddddd;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 40px;
    background-color: #8ce196;
}
