body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo {
    background: url('/images/header-logo_red.png') no-repeat;
    width: 92px;
    height: 85px;
}

#u_menu {
    margin-top: 10px;
    height: 100px;
    width: 1200px;
}

#workspace {
  height: 600px;
  width: 1200px;
  margin-top: 10px;
}

#window {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.work_style {
    background: #f3f3f3;
    border: thin solid #dfe4e6;
}

a {
  color: #00B7FF;
}
